/* Styles for action */

span.td-mortgage::after {
  content: 'TD';
  margin-left: 0.25em;
  color: white;
  background-color: green;
}

span.td-mortgage:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Custom style for modal */

h1.title {
  padding-top: 30px;
  margin-bottom: 0;
}

img.td-logo {
  width: 50px;
  top: 15px;
  position: absolute;
  right: 35px;
}

span.banner {
  background-color: #54b948;
  width: 470px;
  height: 50px;
  position: absolute;
  top: 12px;
  padding-right: 30px;
  left: 0;
}